{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row align-text-bottom">
    <div style="height: 100px;" class=" col-md-8 col-sm-8 col-xs-6">
        <div>
            <h1>{{product.name}} </h1>
            <p style="font-size: 17px;padding-top: 25px;" >{{product.description}} </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <img width="99%" class="img-fluid. max-width: 100%" src="{% static product.img %}" alt="" />
        <p class="text-center" style="font-size: 23px;padding-top: 28px;">Price : <strong
                class="font-weight-bold text-primary">$
                {{product.price}}</strong> </p>

    </div>
</div>
{% endblock %}