{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DIGI Shop mini</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="{% static 'ItemSlider/css/main-style.css' %}" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="{% static 'css/style.css" rel="stylesheet' %}" />
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>DIGI</strong> Shop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'checkout' %}">Cart : {{itemsCount}}</a></li>
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Keyword Here ..." class="form-control">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid" style="min-height: 650px;">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <a href="/Product" class="list-group-item active">Categories
                    </a>
                    <ul class="list-group">
                        {% for object in categories %}
                        {% if currentCategory == object.name %}
                        <li class="list-group-item active" style="background-color:#428bcaab;"><a style="color: black;"
                                href="/Product?category={{object.name}}">{{object.name}}
                                {% else %}
                        <li class="list-group-item"><a href="/Product?category={{object.name}}">{{object.name}}
                                {% endif %}
                            </a>
                            <span class="label label-primary pull-right">{{ cnt|get_value:object.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.div -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="/Product">Home</a></li>
                        {% if currentCategory and product.name %}
                        <li class="active"><a href="/Product?category={{currentCategory}}">{{currentCategory}}</a></li>
                        {% elif currentCategory %}
                        <li class="active">{{currentCategory}}</li>
                        {% endif %}
                        {% if product.name %}
                        <li class="active">{{product.name}}</li>
                        {% endif %}
                    </ol>
                </div>
                <!-- /.div -->
                {% block content %}

                {% endblock %}
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--Footer -->
        <div class="col-md-12 footer-box" style="position: relative; bottom: 0;">
            <div class="row" style="display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;">
                <div class="col-md-4">
                    <strong>Our Location</strong>
                    <hr>
                    <p>
                        Sohag, Egypt<br />
                        Call: +201012776232<br>
                        Email: MahmoudH.Morsy@gmail.com<br>
                    </p>
                </div>
                <div class="col-md-3 social-box">
                    <strong>Our Social </strong>
                    <hr>
                    <a href="https://www.facebook.com/MahmoudH.Morsy"><i class="fa fa-facebook-square fa-3x "></i></a>
                    <a href="https://github.com/MahmoudHamdy00"><i class="fa fa-github-square fa-3x "></i></a>
                    <a href="https://www.linkedin.com/in/mahmoudhmorsy/"><i
                            class="fa fa-linkedin-square fa-3x "></i></a>
                </div>
            </div>
            <hr>
        </div>
        <!-- /.col -->
        <div class="col-md-12 end-box text-center">
            &copy; 2022 | &nbsp; All Rights Reserved | &nbsp; 24x7 support | &nbsp; Email us:
            MahmoudH.Morsy@gmail.com
        </div>
        <!-- /.col -->
        <!--Footer end -->
        <!--Core JavaScript file  -->
        <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
        <!--bootstrap JavaScript file  -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <!--Slider JavaScript file  -->
        <script src="{% static 'ItemSlider/js/modernizr.custom.63321.js' %}"></script>
        <script src="{% static 'ItemSlider/js/jquery.catslider.js' %}"></script>

</body>

</html>